.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    width: 400px;
    background-color: white;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__body {
    flex-grow: 1;
}